@model IEnumerable<Category>
@{
    ViewBag.PageTitle = "إدارة الفئات";
    ViewBag.CardTitle = "قائمة الفئات";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="container">
    <div class="row mb-3">
        <div class="col-md-4 col-12">
            <a class="btn btn-outline-primary btn-sm py-1 px-4 mt-0 animate__animated animate__fadeInUp" style="width: 100%;" asp-controller="Category" asp-action="Create">إضافة فئة</a>
        </div>
        <div class="col-md-8 col-12">
            <form class="form-inline my-2 my-lg-0" asp-area="Admin" asp-action="Search" asp-controller="Category">
                <div class="input-group" style="width: 100%;">
                    <input class="form-control mr-sm-2" type="search" placeholder="بحث" name="category" style="flex: 1;">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-primary py-1 px-4 mt-0 animate__animated animate__fadeInUp">بحث</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">الاسم</th>
                    <th scope="col">الوصف</th>
                    <th scope="col">الوقت</th>
                    <th scope="col">الأحداث</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@Html.Raw(item.Description)</td>
                        <td>@item.CreatedTime.ToString("yyyy/MM/dd (hh:mm:ss)")</td>
                        <td>
                            <a href="/Admin/Category/Edit/@item.Id" class="btn btn-outline-success btn-sm">تعديل</a>
                            <a href="/Admin/Category/Delete/@item.Id" class="btn btn-outline-danger btn-sm">حذف</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}